.row
  %aside.col-md-4
    %section.member_info
      %h1
        - if @member.avatar.url == "/images/original/missing.png"
          %img{ src: asset_path("default_user.png"), width: "100px", height: "100px" }
        - else
          = image_tag @member.avatar.url(:thumb)
        = @member.name
